{% extends "base.html" %} {% block title %}Inicio{% endblock %}

{% block content %} 
<h2>Administrar sistema de redes neuronales ⚙️⚙️</h2><br>
<!-- <h5>El sistema utilizado por médicos</h5> <br>
<p>-Si tienes dudas respecto a la lesión cutánea del paciente mejor utiliza el sistema inteligente para recibir una sugerencia que puedes utilizar a la hora de redactar tu diagnóstico.</p>
<p>-Si cuentas con la certeza de que el paciente cuenta con cierta enfermedad, puedes pasar a diagnosticar directamente sin pasar por el sistema inteligente.</p><br><br> -->

<row style = "width: 100% ; display: flex; justify-content: center; padding-bottom: 15px;">
    <div style="margin-right: 30px;">
        <a href="/subirImagenes" class="btn btn-secondary btn-xs">Ampliar Dataset</a>
    </div>
    <a href="/entrenamiento" class="btn btn-secondary btn-xs">Reentrenar modelo</a>
</row>
{% endblock %}