{% extends "base.html" %} {% block title %}Inicio{% endblock %}

{% block content %} 
<div class="container">
    <h1 class="jumbotron bg-primary">Reconocimiento de Lesiones Cutaneas</h1>
    <br><br>
    <form class="form-horizontal" action="/resultado" method="post" enctype="multipart/form-data">
  
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Sube una imagen:</label>
        <div class="col-sm-10">          
          <input type="file" class="file-form-input"  name="file" id="pwd">
        </div>
      </div>
  
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Subir</button>
        </div>
      </div>
    </form>
{% endblock %}