{% extends "base.html" %} {% block title %}Registrate{% endblock %}

{% block content %} 
<form method="POST">
    <h3 align="center">Registrate</h3>
    <div class="form-group">
      <label for="username">Usuario</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Ingresar nombre de usuario"
      />
    </div>
    <div class="form-group">
      <label for="password1">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Ingresa una contraseña"
      />
    </div>
    <div class="form-group">
      <label for="password2">Contraseña (Confirma)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirma la contraseña"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
{% endblock %}